body {
    text-align: center;
  }

ul{
  list-style-type: none;
  padding-left: 0;
}

li{
  display: inline-block;
}

/*placeholder css*/
button { 
    color:#050; 
    font: old 84% 'trebuchet ms',helvetica,sans-serif; 
    background-color:#fed; 
    border:1px solid; 
    border-color: #696 #363 #363 #696; 
}